{% extends "base.html" %}

{% block title %}Security Report{% endblock %}

{% block content %}
    <h1>Security Report</h1>
    <p>{{ report['summary'] }}</p>
    <ul>
    {% for issue in report['details'] %}
        <li><strong>{{ issue['resource'] }} ({{ issue['type'] }}):</strong>
            <ul>
            {% for detail in issue['issues'] %}
                <li>{{ detail }}</li>
            {% endfor %}
            </ul>
            <ul>
            <strong>Recommendations:</strong>
            {% for recommendation in issue['recommendations'] %}
                <li>{{ recommendation }}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
